.register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #ecf2f4 0%, #8faeeb 100%);
}

.register h1 {
color: black;
font-style: italic;
font-weight: bolder;
font-size: 35px;
text-align: center;
}

.lottie {
height: 400px;
}

.inputfield {
border-radius: 5px;
border: none;
padding: 5px 10px;
}

.inputfield:focus {
outline: none !important;
box-shadow: none !important;
}

.click {
color: white;
padding: 5px 25px;
font-size: 18px;
border: none;
border-radius: 5px;
}
